<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.mdr.graphospasm.grapheditor.GraphDiagramEditor"
            contributorClass="com.github.mdr.graphospasm.grapheditor.GraphDiagramEditorActionBarContributor"
            default="true"
            extensions="graph"
            icon="icons/graph-16.png"
            id="com.github.mdr.graphospasm.grapheditor.GraphDiagramEditor"
            name="Graph Editor">
      </editor>
   </extension>
    <extension point="org.eclipse.ui.newWizards">
      <category name="Graphospasm"
                id="com.github.mdr.graphospasm.category"/>
      <wizard
            category="com.github.mdr.graphospasm.category"
            class="com.github.mdr.graphospasm.grapheditor.GraphCreationWizard"
            icon="icons/graph-16.png"
            id="com.github.mdr.graphospasm.grapheditor.GraphCreationWizard"
            name="Graph">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

</plugin>
