<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.mdr.graphospasm.grapheditor.GraphEditor"
            contributorClass="com.github.mdr.graphospasm.grapheditor.GraphEditorActionBarContributor"
            default="true"
            extensions="graph,xml"
            id="com.github.mdr.graphospasm.grapheditor.GraphEditor"
            name="Graph Editor">
      </editor>
   </extension>
    <extension point="org.eclipse.ui.newWizards">
      <category name="Graphospasm"
                id="com.github.mdr.graphospasm.category"/>
      <wizard name="Graph"
              category="com.github.mdr.graphospasm.category"
              class="com.github.mdr.graphospasm.grapheditor.GraphCreationWizard"
              id="com.github.mdr.graphospasm.grapheditor.GraphCreationWizard">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

</plugin>
