<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.mdr.graphospasm.grapheditor.GraphDiagramEditor"
            contributorClass="com.github.mdr.graphospasm.grapheditor.GraphDiagramEditorActionBarContributor"
            default="true"
            extensions="graph,rdf"
            icon="icons/graph-16.png"
            id="com.github.mdr.graphospasm.grapheditor.GraphDiagramEditor"
            name="Graph Editor">
      </editor>
   </extension>
    <extension point="org.eclipse.ui.newWizards">
      <category name="Graphospasm"
                id="com.github.mdr.graphospasm.category"/>
      <wizard
            category="com.github.mdr.graphospasm.category"
            class="com.github.mdr.graphospasm.grapheditor.GraphCreationWizard"
            icon="icons/graph-16.png"
            id="com.github.mdr.graphospasm.grapheditor.GraphCreationWizard"
            name="Graph">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.github.mdr.graphospasm.grapheditor.GraphospasmPerspectiveFactory"
            fixed="false"
            icon="icons/graph-16.png"
            id="com.github.mdr.graphospasm.grapheditor.perspective"
            name="Graphospasm">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.github.mdr.graphospasm.views"
            name="Graphospasm">
      </category>
      <view
            category="com.github.mdr.graphospasm.views"
            class="com.github.mdr.graphospasm.grapheditor.views.NamespacesView"
            icon="icons/namespaces.png"
            id="com.github.mdr.graphospasm.grapheditor.views.NamespacesView"
            name="Namespaces">
      </view>
   </extension>
</plugin>
